<!DOCTYPE HTML>
<html lang="en">

<head>
    <%- include("../partials/admin-header.ejs") %>
</head>
</head>

<body>

    <p style="text-align: center;">ADMIN PANEL</p>


    <div class="screen-overlay"></div>
    <!-- aside -->
    <%- include("./layout/sidebar.ejs") %>

    <main class="main-wrap">
    
   

    <section class="content-main">
    <!-- <!-- ('./components/dashboard/dashboard-cards.ejs') -->
        
        <div class="row">
            
              <!-- include('./components/dashboard/sale-statitics.ejs') %>  -->
             <!-- include('./components/dashboard/revenue-area.ejs') %> -->
            
        </div>
        
    </section> <!-- content-main end// -->


    <!-- < include("./logins/adminlogin.ejs") %> -->
</main>
<%- include("./components/script/script.ejs") %>

</html>